body{
background: #E3941D;
}

.App{
    max-width: 700px;
    margin: 0 auto; 
}

.App-header{
    margin: 30px 0;
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: #EDCB42;
}
.App-footer{
    text-align:center;
    margin: 30px 0;
}
