body{
background: #FF9A23;
}

h1 {    
    font-family: marshmallow-fluff, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 106px;
    color: #FF7474;
   
    
}
.App{
    max-width: 700px;
    margin: 0 auto; 
}

.App-header{
    margin: 20px 0;
}

.App-footer{
    text-align:center;
    margin: 30px 0;
}
