body{
  color: #FF8A00;
  font-family: gopher, sans-serif;
  font-weight: 500;
}

.Dictionary h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color:#FF8A00;

}
.Dictionary section {
  background: #FFF6F0;
  padding: 30px;
  border-radius: 12px;
  border: 6px solid #903500c2;
  margin: 10px 0;
}
.Dictionary input {
    width: 100%;
    border-radius: 6px;
    padding: 6px 10px;
    color:#B1530B ;
    background-color:#FFF6F0 ;
    border: 0.5px solid #B1530B;
}
.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}